*{
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

body{
  background: url(patientlist_bg.png) no-repeat center center fixed;
  background-size: cover;
}

.nav{
  display: inline-flex;
  background-color: #8375ea;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  position: fixed;
}

.nav .name{
  display: inline-flex;
  padding: 10px 3%;
}

.nav .name h2{
  color: #fff;
  padding: 6px 20px;
  font-size: 32px;
  font-weight: 300;
}

.nav h1{
  color: #fff;
  padding: 5px 6%;
  text-shadow: 1px 1px 0 #8375ea;
  font-size: 48px;
}

.container{
  align-items: center;
  margin: auto;
  width: 88%;
  padding-top: 8vh;
}

.heading{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.heading h1{
  font-size: 64px;
  color: #8375ea;
}

.search-add{
  padding-top: 20px;
  display: inline-flex;
}

.search{
  width: 500px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
}

.search img{
  height: 27px;
  padding-left: 15px;
  padding-top: 5px;
}

.search input{
  font-size: 24px;
  border: none;
  padding-left: 20px;
}

.add{
  padding-left: 50px;
}

.add button:hover{
  cursor: pointer;
}

.add button{
  font-size: 24px;
  width: 100px;
  height: 40px;
  background-color: #8375ea;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.add button img{
  padding: 5px 10px 0px 5px;
  height: 24px;
}

.grid-container{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 30px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 32% 32% 32%;
}

.grid-item{
  font-size: 24px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 0 rgba(131, 117, 234, 0.25);
}

.prescribe-edit-delete{
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.prescribe button{
  font-size: 36px;
  color: #fff;
  width: 225px;
  background-color: #8375ea;
  border: none;
  border-radius: 10px;
}

.prescribe button:hover{
  cursor: pointer;
  border: 2px solid #8375ea;
  color: #8375ea;
  background-color: #fff;
}

.edit img:hover{
  cursor: pointer;
}

.delete img:hover{
  cursor: pointer;
}
