* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

body {
  background: url(prescribe_bg.png) no-repeat center center fixed;
  background-size: cover;
}

.nav {
  display: inline-flex;
  background-color: #8375ea;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  position: fixed;
}

.nav .name {
  display: inline-flex;
  padding: 10px 3%;
}

.nav .name h2 {
  color: #fff;
  padding: 6px 20px;
  font-size: 32px;
  font-weight: 300;
}

.nav h1 {
  color: #fff;
  padding: 5px 6%;
  text-shadow: 1px 1px 0 #8375ea;
  font-size: 48px;
}

.container {
  width: 40%;
  transform: translate(20%, 30%);
  text-align: center;
}

.container h1 {
  font-size: 64px;
  text-align: center;
  padding-bottom: 40px;
}

.medicine {
  background-color: #fff;
  font-size: 24px;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 0 rgb(131, 117, 234, 0.25);
}

.head {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.head img {
  height: 30px;
}

.head img:hover {
  cursor: pointer;
}

.medicine table {
  width: 90%;
  align-items: center;
  border-collapse: separate;
  border-spacing: 0.5em;
}

.medicine table tr td:first-child {
  text-align: left;
}

button {
  width: 100%;
  border: none;
  background-color: #8375ea;
  border-radius: 10px;
  font-size: 36px;
  color: white;
}

button img {
  padding-right: 20px;
}

button:hover {
  cursor: pointer;
}

td input {
  width: 100%;
  border: 2px solid #8375ea;
  border-radius: 5px;
  font-size: 24px;
}

.container .medicine div input {
  text-align: center;
  background-color: #8375ea;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  width: 110px;
}
