* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background-color: #8375ea;
}

.background {
  height: 100vh;
  background: url(welcomeBG.png) no-repeat center center fixed;
  background-size: cover;
}

.heading {
  color: #fff;
  width: 1000px;
  font-style: italic;
  text-align: center;
  padding-top: 10%;
  padding-left: 3%;
}

.heading h1 {
  font-size: 78px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #f1f1f1;
}

.heading h2 {
  font-size: 56px;
  font-weight: 200;
}

button {
  font-size: 56px;
  background-color: white;
  border: none;
  padding: 10px 83px;
  border-radius: 200px;
}

.button {
  padding-top: 16%;
  padding-left: 9%;
}

button:hover {
  cursor: pointer;
  color: #8375ea;
}
